body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: visible;
  }
   
  .chart--container {
    height: 100%;
    width: 100%;
    min-height: 500px;
  }
   
  .zc-ref {
    display: none;
  }